@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 1rem;
}

.title {
  margin: 2rem;
  padding: 1rem;
  color: #ffffff;
  border-radius: 1rem;

  /* Using tool colorgradient.io for background color */
  background: #5b1c8a;
  background: radial-gradient(circle, #5b1c8a 42%, #eeaeca 100%);
}

.date {
  margin: 2rem;
  padding: 1rem;
}

#dob {
  border: 3px solid black;
  margin-top: 0.7rem;
  outline: none;
  transition-duration: 0.6s;
  border-radius: 2rem;
  padding: 16px 32px;
}

#dob:hover {
  border-color: #5b1c8a;
}

#dob:focus {
  border-color: #ff0000;
}

button {
  margin-top: 1rem;
  background: transparent;
  padding: 12px 24px;
  border: 2px solid;
  margin-left: 0.5rem;
  transition-duration: 0.4s;
  border-radius: 1rem;
}

button:hover {
  border: 2px solid;
  background: #5b1c8a;
  color: #ffffff;
}

#output {
  display: inline;
  /* background-color: black; */
  font-size: larger;
  margin: auto;
  padding: 1rem;
}

/* Footer (START) */

/* Custom footer style */
footer {
  margin: 5rem 1rem 1rem 1rem;
  color: white;
}

/* To hold all items in the footer tag in one place */
.footer-container {
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 1rem;
  background-color: #000000;
}

/* Heading of the footer tag */
.footer-head {
  text-align: center;
}

/* Content of the footer tag */
.footer-content {
  padding-bottom: 1rem;
  display: block;
  align-items: justify;
  margin-left: auto;
  margin-right: auto;
}

/* website icons for the footer */
.footer-icon {
  display: inline;
  align-items: justify;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem 2rem 2rem;
}

#page-end {
  padding-top: 6rem;
}

/* Footer (END) */
